<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
    body
    {
        color: #efd;
        background-color: #453;
        padding: 0 5em;
        margin: 0;
    }
    h1
    {
        padding: 2em 1em;
        background: #675;
    }
</style>
<title>注册|创建用户</title>
</head>

<body>

	<h1>用户注册</h1>
    <div class="field">
        {% if form.errors %}
            <p style="color:red;font-family: 'Helvetica', sans-serif">请纠正以下错误!</p>
        {% endif %}
    </div>
	<form action="" method="post">{% csrf_token %}
		<div class="field">
	        {{ form.name.errors }}
            <label for="id_name">用户名:</label>
            {{ form.name }}
        </div>
        <br>
        <div class="field">
	        {{ form.sex.errors }}
            <label for="id_sex">性 别:</label>
            {{ form.sex}}
        </div>
        <br>
        <div class="field">
            {{ form.password1.errors }}
            <label for="id_password1">密 码:</label>
            {{ form.password1 }}
        </div>
        <br>
        <div class="field">
            {{ form.password2.errors }}
            <label for="id_password2">密码确认:</label>
            {{ form.password2 }}
        </div>
        <br>
        <div class="field">
	        {{ form.city.errors }}
            <label for="id_city">城 市:</label>
            {{ form.city }}
        </div>
        <br>
        <div class="field">
            {{ form.province.errors }}
            <label for="id_province">所在省:</label>
            {{ form.province }}
        </div>
        <br>
        <div class="field">
            {{ form.country.errors }}
            <label for="id_country">国 家:</label>
            {{ form.country }}
        </div>
        <br>
        <div class="field">
	        {{ form.mobile.errors }}
            <label for="id_mobile">手机号码:</label>
            {{ form.mobile }}
        </div>
        <br>
        <div class="field">
            {{ form.email.errors }}
            <label for="id_email">电子邮件:</label>
            {{ form.email }}
        </div>
        <br>
        <div class="field">
            <button type="submit">创建用户</button>
            <button type="button" onclick="location.href='http://127.0.0.1:8000/minieye/login/'">返 回</button>
        </div>
	</form>
</body>
</html>
